<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/img/hammer_logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
  </head>
  <body>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:300px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <div class="left-justify vertical-center">
    <p><b>Justin E. Palmer</b></p>
    <p>Game Designer, Unity Engineer, AR/VR/XR enthusiast, and</br>Creative Technologist</p>
    <a href="https://jeplmr.com" class="w3-bar-item w3-button">Home</a>
    <a href="https://jeplmr.com/about" class="w3-bar-item w3-button">About Me</a>
    <a href="https://jeplmr.com/resume" class="w3-bar-item w3-button">Resumé</a>
    <a href="/tags/blog/" class="w3-bar-item w3-button">Blog</a>
    </br>
    <a href="https://www.linkedin.com/in/justin-e-palmer/" target="blank"><i class="fab fa-linkedin" style="font-size:24px"></i></a>
    <a href="https://github.com/jeplmr" target="blank"><i class="fab fa-github" style="font-size:24px"></i></a>
    <a href="https://twitter.com/jeplmr" target="blank"><i class="fab fa-twitter" style="font-size:24px"></i></a>
    <a href="https://jeplmr.itch.io" target="blank"><i class="fab fa-itch-io" style="font-size:24px"></i></a>
    <a href="mailto: justin.eugene.palmer@gmail.com" target="blank"><i class="fas fa-envelope" style="font-size:24px"></i></a>
  </div>
</div>

<div class="w3-main" style="margin-left:300px">
  <div>
    <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </div>
</div>

<footer></footer>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}


</script> 

    <!-- Current page: {{ page.url | url }} -->
  </body>

  <!--  <header>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <ul class="nav">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
    {%- endfor %}
    <li class="nav-item"><a href="/tags/Portfolio/">Portfolio</a></li>
    <li class="nav-item"><a href="/tags/blog/">Blog</a></li>
    </ul>
  </header>

  -->

</html>